<section class="w3l-about-breadcrumb">
    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 pt-5 pb-4">
        <div class="container pt-lg-5 pt-md-3 py-lg-4 pb-md-3">
            <h2 class="title"> Login </h2>
            <ul class="breadcrumbs-custom-path mt-2">
                <li><a href="/">Home</a></li>
                <li class="mx-2">/ </li>
                <li class="active"> Login </li>
            </ul>
        </div>
    </div>
</section>
{% extends "base.html" %}
{% block content%}

<section class="w3l-contact-7 pt-5" id="contact">
    <div class="contacts-9 pt-lg-5 pt-md-4">
        <div class="container">
            <div class="top-map">
                <div class="row map-content-9">
                    <div class="col-lg-8">
                       
                        <form  method="post" class="text-right">
                            {% csrf_token %}
                            <div class="form-grid" style="margin-left: 50px; margin-bottom: 2px;">
                                <input type="text" name="email" id="w3lSender" placeholder="Email" required="">
                                <input type="password" name="password" id="w3lSubject" placeholder="Password">
                            </div>
                            
                            <button type="submit" class="btn btn-primary btn-style mt-3" style="margin-right: 180px;">Login</button>
                        </form>
                    </div>
                 
</section>

{% endblock %}