<section class="w3l-about-breadcrumb">
    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 pt-5 pb-4">
        <div class="container pt-lg-5 pt-md-3 py-lg-4 pb-md-3">
            <h2 class="title"> Add Decor Items  </h2>
            <ul class="breadcrumbs-custom-path mt-2">
                <li><a href="/adminhome"> Home</a></li>
                <li class="mx-2">/ </li>
                <li class="active"> Add Decor Items </li>
            </ul>
        </div>
    </div>
</section>
{% extends "admin/adminbase.html" %}
{% block content%}
<center>
<section class="w3l-contact-7 pt-5" id="contact">
    <div class="contacts-9 pt-lg-5 pt-md-4">
        <div class="container">
            <div class="top-map">
                <div class="row map-content-9">
                    <div class="col-lg-8">
                       
                        <form  method="post" enctype="multipart/form-data" class="text-right">
                            {% csrf_token %}
                            <div class="form-grid">
                                <input type="text" name="name" id="w3lName" placeholder="Name" required="">
                               
                                <input type="text" name="desc" id="w3lPhone" placeholder="Description"
                                    required="">
                                <input type="number" name="price" id="w3lSender" placeholder="Price" required="">
                                <input type="file" name="image" id="w3lPhone" placeholder="Image"
                                    required="">

                            </div>
                           
                            <button type="submit" class="btn btn-primary btn-style mt-3" style="margin-right: 180px;">Add</button>
                        </form>
                    </div>
                 
</section>
{% if messages %}
{% for m in messages %}
<script>
    alert("{{m}}")
</script>


{% endfor %}
{% endif %}
{% endblock %}