<section class="w3l-about-breadcrumb">
    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 pt-5 pb-4">
        <div class="container pt-lg-5 pt-md-3 py-lg-4 pb-md-3">
            <h2 class="title"> Manage User  </h2>
            <ul class="breadcrumbs-custom-path mt-2">
                <li><a href="/adminhome"> Home</a></li>
                <li class="mx-2">/ </li>
                <li class="active"> Manage User </li>
            </ul>
        </div>
    </div>
</section>
{% extends "admin/adminbase.html" %}
{% block content %}

<style>
    table{
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }
    table th, table td{
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #ccc;
    }
    table th{
        background: #f5f5f5;
    }
    a {
        color: #007bff;
        text-decoration: none;
    }
    a.hover{
        text-decoration: underline;
    }
</style>
<table class="table" >
    <tr>
        <th>Name</th>
        <th>Profile</th>
        <th>Contact</th>
        <th>Address</th>
        <th>Email</th>
        <th>Action</th>
        
       
        
        
    </tr>
</tr>
    {% for d in user %}

<tr>
    
    <td>{{d.name}}</td>
    <td><img src ="../static/media/{{d.profile}}" height="100" width="100"></td>
    <td>{{d.contact}}</td>
    <td>{{d.address}}</td>
    <td>{{d.email}}</td>
    <td><button type="button"  class="btn btn-primary btn-style mt-3" ><a href="/deleuser?id={{d.id}}" style="color: aliceblue;">Delete</button></td>


    
    
  
    
    

    
   
</tr>
{% endfor %}
</table>
{% if messages %}
{% for m in messages %}
<script>
    alert("{{m}}")
</script>


{% endfor %}
{% endif %}


</center>
{% endblock %}
