<section class="w3l-about-breadcrumb">
    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 pt-5 pb-4">
        <div class="container pt-lg-5 pt-md-3 py-lg-4 pb-md-3">
            <h2 class="title"> View Feedback  </h2>
            <ul class="breadcrumbs-custom-path mt-2">
                <li><a href="/adminhome"> Home</a></li>
                <li class="mx-2">/ </li>
                <li class="active"> View Feedback </li>
            </ul>
        </div>
    </div>
</section>
{% extends "admin/adminbase.html" %}
{% block content %}

<style>
    table{
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }
    table th, table td{
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #ccc;
    }
    table th{
        background: #f5f5f5;
    }
    a {
        color: #007bff;
        text-decoration: none;
    }
    a.hover{
        text-decoration: underline;
    }
</style>
       
<table>
    <tr>
        <th>Name</th>
        <th>Product Name</th>
        <th>Feedback</th>
    </tr>
    {% for d in data %}
    <tr>
        
        <td>{{d.userid.name}}</td>
        <td>{{d.title}}</td>
        <td>{{d.desc}}</td>
       
    </tr>
    {% endfor %}
</table>
{% endblock %}
