<section class="w3l-about-breadcrumb">
    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 pt-5 pb-4">
        <div class="container pt-lg-5 pt-md-3 py-lg-4 pb-md-3">
            <h2 class="title">   </h2>
            <ul class="breadcrumbs-custom-path mt-2">
                <li><a href="/userhome"> Home</a></li>
                <li class="mx-2">/ </li>
                <li class="active"> Decor Items </li>
            </ul>
        </div>
    </div>
</section>
{% extends "user/userbase.html" %}
{% block content %}
<section class="w3l-contact-7 pt-5" id="contact">
    <div class="contacts-9 pt-lg-5 pt-md-4">
        <div class="container">
            <div class="top-map">
                <div class="row map-content-9">
                    <div class="col-lg-8">
                       
                        <form  method="post" class="text-right">
                            {% csrf_token %}
                            <div class="form-grid">
                                
                            </div>
                            <textarea name="desc" id="w3lMessage" placeholder="Address"></textarea>
                            <!-- <button type="button" ><a href="/payment?id={{uid.id}}">Book</a></button> -->
                            <a href="/payment_decor?id={{uid.id}}"><button type="submit" class="btn btn-primary btn-style mt-3">Book</button>
                            
                        </form>
                    </div>
                 
</section>
{% if messages %}
{% for m in messages %}
<script>
    alert("{{m}}")
</script>


{% endfor %}
{% endif %}
{% endblock %}