<section class="w3l-about-breadcrumb">
    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 pt-5 pb-4">
        <div class="container pt-lg-5 pt-md-3 py-lg-4 pb-md-3">
            <h2 class="title"> Kitchen Appliances   </h2>
            <ul class="breadcrumbs-custom-path mt-2">
                <li><a href="/userhome"> Home</a></li>
                <li class="mx-2">/ </li>
                <li class="active"> Kitchen Appliances </li>
            </ul>
        </div>
    </div>
</section>
{% extends "user/userbase.html" %}
{% block content%}
<section class="w3l-team py-5" id="team">
    <div class="container py-lg-5 py-md-4 py-2">
        <h3 class="title-big text-center mx-0 mb-lg-5 mb-4"> </h3>
        <div class="row team-row">
            {% for d in kitchen %}
            <div class="col-lg-4 col-sm-6 team-wrap mt-sm-0 mt-5">
                <div class="team-member text-center">
                    <div class="team-img">
                        <img src="../static/media/{{d.image}}"  height="300" width="300"  />
                        <div class="overlay">
                            <div class="team-details text-center">
                                <p>
                                  Description : {{d.desc}}
                                </p>
                                <div class="socials mt-4">
                                    <p>Price:{{d.price}}</p>
                        

                      
                        
                                </div>
                            </div>
                        </div>
                    </div>
                    <h6 class="team-title">{{d.name}}</h6>
                    <!-- <p><button type="button"  ><a href="/booking_kitchenappliances?id={{d.id}}">Book</a></button></p> -->
                    <a href="/booking_kitchenappliances?id={{d.id}}"><button type="submit" class="btn btn-primary btn-style mt-3">Book</button>
                </div>
            </div>
            {% endfor %}


    </div>
</section>
{% endblock %}